<!DOCTYPE html>
<html>
<head>
  <title>Complaint Management System</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #3498db;">
    <tr>
      <td align="center">
        <table border="0" cellpadding="0" cellspacing="0" width="600" style="padding: 20px;">
          <tr>
            <td>
              <h2 style="color: #ffffff; margin-bottom: 10px; text-align: center;">COMPLAINT MANAGEMENT SYSTEM</h2></td>
          </tr>
          <tr>
            <td align="left" style="background-color: #ffffff; padding: 40px;" colspan="2">
              <p style="color: #666666; font-size: 16px; line-height: 1.6em; margin-top: 0px;">Halo Tim QA,</p>
              <p style="color: #666666; font-size: 16px; line-height: 1.6em;">Terdapat complaint yang memerlukan untuk visit lebih lanjut. Keahlian Anda dibutuhkan untuk memastikan penyelesaian cepat atas complaint tersebut.</p>
              <p style="color: #666666; font-size: 16px; line-height: 1.6em;">Detail Keluhan:</p>
              <table>
              <tr>
                <td style="color: #666666; font-size: 16px; line-height: 1.6em;">ID Complaint:</td>
                <td style="color: #666666; font-size: 16px; line-height: 1.6em;">{{complaint_id}}</td>
                </tr>
              <tr>
                <td style="color: #666666; font-size: 16px; line-height: 1.6em;">Judul: </td>
                <td style="color: #666666; font-size: 16px; line-height: 1.6em;">{{complaint_title}}</td>
              </tr>
              <tr>
                <td style="color: #666666; font-size: 16px; line-height: 1.6em;">Produk: </td>
                <td style="color: #666666; font-size: 16px; line-height: 1.6em;">{{complaint_product}}</td>
              </tr>
              <tr>
                <td style="color: #666666; font-size: 16px; line-height: 1.6em;">Tanggal Keluhan: </td>
                <td style="color: #666666; font-size: 16px; line-height: 1.6em;">{{complaint_date}}</td>
              </tr>
              <tr>
                <td style="color: #666666; font-size: 16px; line-height: 1.6em; padding-top: 30px; padding-bottom: 30px;" colspan="2">Silakan buka aplikasi melalui link berikut: </td>
              </tr>
              <tr>
                <td>
                  <td align="center" style="color: #666666; font-size: 16px; line-height: 1.6em;" colspan="2"> 
                    <a href="{{link}}" style=" 
                    text-align: center; font-family: Arial,sans-serif;
                    box-sizing: border-box;
                    font-size: 14px;
                    color: #FFF;
                    text-decoration: none;
                    line-height: 1.2em;
                    font-weight: bold;
                    text-align: center;
                    cursor: pointer;
                    display: inline-block;
                    border-radius: 5px;
                    text-transform: capitalize;
                    background-color: #1a9dc5;
                    margin: 0;
                    border-color: #1a9dc5;
                    border-style: solid;
                    border-width: 8px 16px;
                    width: 100%;">Open</a>
                  </td>
                </td>
              </tr>
            </table>
            <p class="content-block" style="font-family: 'Monotype Corsiva',Georgia,Arial,sans-serif; 
              box-sizing: border-box;
              font-size: 20px; vertical-align: top; margin: 0; padding: 20px 0 20px;"
              valign="top">
              Thank you,
            </p>
            <p
            style="color: #666666; font-family: Georgia,Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <span class="content-block"
            style="font-family: Georgia,Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
            valign="top">
            <p>Complaint Management System</p>
            </span>
            </p>
            </td>
          </tr>
        </table>
        <p class="content-block"
			style="color: #ffffff; text-align: center;font-family: Georgia,Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0;"
			valign="top">
			Copyrights 2023. All rights reserved by PT Amerta Indah Otsuka
			<br><br>
          </p>
      </td>
    </tr>
  </table>
</body>
</html>